<div data-role="content" id="catg_1">
<ul data-role="listview" class="menu_lst">
    <li>Name:<input class="catg_inputs" type="text" id="obj_name" disabled/></li>
    <li>Objekt-ID:<input class="catg_inputs" type="text" id="obj_id" disabled/></li>
    <li>SYS-ID:<input class="catg_inputs" type="text" id="obj_sysid" disabled/></li>
    <li>Einsatzzweck:<input class="catg_inputs" type="text" id="obj_usefor" disabled/></li>
    <li>Kategorie:<input class="catg_inputs" type="text" id="obj_catg" disabled/></li>
    <li>Erstellungsdatum:<input class="catg_inputs" type="text" id="obj_create_date" disabled/></li>
    <li>&Auml;nderungsdatum:<input class="catg_inputs" type="text" id="obj_change_date" disabled/></li>
    <li>Zustand:<input class="catg_inputs" type="text" id="obj_state" disabled/></li>
    <li >Status:<input class="catg_inputs" type="text" id="obj_status" disabled/></li>
    <li >Beschreibung:<input class="catg_inputs" type="text" id="obj_desc" disabled/></li>
</ul>
    <input type="hidden" id="obj_id_r">
    <input type="text" id="type_id_r">
    </div>

