<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.idoit.mobile"
        versionCode="10" 
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>i-doit mobile 0.0.1</name>
    <icon src="icon.png" width="32" height="32" />

    <description>
        Dies ist eine Testversion unserer Idoit Api mit PhoneGap 
    </description>

    <author href="https://steven-bohm.net" email="info@steven-bohm.net">
        Steven Bohm
    </author>

</widget>