<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        id        = "com.idoit.mobile"
        versionCode="16"
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>i-doit mobile 0.0.1</name>
    <icon src="icon.png" width="32" height="32" />

    <description>
        Dies ist eine Testversion unserer Idoit Api mit PhoneGap
    </description>

    <author href="https://steven-bohm.net" email="info@steven-bohm.net">
        Steven Bohm
    </author>
	<plugin name="SplashScreen" value="org.apache.cordova.SplashScreen"/>
    <plugin name="Storage" value="org.apache.cordova.Storage" />
    <preference name="splash-screen-duration" value="1000" />
    <gap:splash src="splash/android/splash.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="splash/android/splash.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="splash/android/splash.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="splash/android/splash.png" gap:platform="android" gap:density="xhdpi" />
</widget>